<%-include('../../partials/header.ejs') %>
<%-include('../../partials/homenavbar.ejs') %>

<body>
    <div class="container">
        <hr>
        <% result.articles.rows.forEach(article =>{ %>
        <div class="card">
            <div class="card-header">
                <h2><%=article.title %></h2>
            </div>
            <div class="card-body">
                <a class="btn btn-success" href="/<%=article.slug%>">Ler Artigo/Read</a>
            </div>
        </div><br>
        <%})%>
        <div class="row">
            <div class="col col-12">
                <% if(result.page >2) { %>
                <a style="float:left" href="/articles/page/<%=result.page-1%>"> <img src="https://img.icons8.com/small/50/000000/back.png"/> </a>
                    <br>
                    <label style="float:left">Página Anterior</label>
                        <%} else if(result.page ==2){%>
                            <a style="float:left" href="/"><img src="https://img.icons8.com/small/50/000000/back.png"/></a>
                            <br>
                            <label style="float:left">Página Anterior</label>
                            <%}%>
              
                <%if(result.next){ %>
                    <a style="float:right"href="/articles/page/2"><img src="https://img.icons8.com/small/48/000000/more-than.png"/></a>
                    <br>
                    <label style="float:right">Próxima Pagina</label>
                        <%}%>
            </div>
            <hr>
        </div>
        <hr>

    </div>
</body>

<%-include('../../partials/footer.ejs') %>