<%-include('../../partials/header.ejs') %>
<%-include('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <h2>Categorias/Categories</h2>
    <hr>
    <a href="/admin/categories/new" class="btn btn-success">Criar nova Categoria/Create new Category</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Ações/Actions</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(category =>{%>
            <tr>
                <th><%= category.id %></th>
                <th><%=category.title %></th>
                <th><%=category.slug %></th>
                <th>
                    <a href="/admin/categories/edit/<%= category.id%>" class="btn btn-warning ">Editar/Edit</a>

                    <form method="POST" action="/categories/delete" style="display:inline;"
                        onsubmit="confirmDelete(event,this)">
                        <input type="hidden" name="id" value="<%=category.id %>">
                        <button class="btn btn-danger ">Deletar/Delete</button>
                    </form>

                </th>
            </tr>
            <% })%>
        </tbody>
    </table>


</div>

<%-include('../../partials/footer.ejs') %>

<script>
    function confirmDelete(event, form) {
        event.preventDefault();
        let decision = confirm("Deseja realmente deletar a categoria?\nDo you really want to delete the category?");
        if (decision) {
            alert("Categoria deleteda\nDeleted Category")
            form.submit();
        } else {
            alert("Categoria não deletada\nCategory not Deleted")
        }
    }

</script>